body, html {
    height: 100%;
    margin: 0;
    /* background-color: #07090F; */
    background-color: white;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'exo';
    src: url("http://loophole.studio/fonts/exo2/exo2-variablefont_wght-webfont.woff2") format("woff2"),
         url("http://loophole.studio/fonts/exo2/exo2-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url("http://loophole.studio/fonts/roboto/roboto-light-webfont.woff2") format("woff2"),
         url("http://loophole.studio/fonts/roboto/roboto-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://loophole.studio/images/hero.jpg");
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'exo';
}

.hero-text h1 {
    font-family: 'exo';
    font-size: 40px;
}

.hero-text p {
    font-family: 'roboto';
    font-size: 20px;
    color: orange;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #07090F;
}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    color: white;
    font-family: 'exo';
    text-align: center;
    padding: 16px 50px;
    font-size: 20px;
    text-decoration: none;
}

.menu li a:hover {
    -webkit-transition: color ease-in-out 200ms;
    color: #DC82F0;
}


.post-container {
    display: inline-flex;
    flex-direction: row;
    padding: 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
}


.post-item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-item h1 {
    display: flex;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'exo';
}

.hashtag {
    display: flex;
    color: orange;
    font-size: 15px;
    text-align: center;
    font-family: 'exo';
}

.post-container:hover .post-item,
.post-container:focus .post-item  {
    transform: scale(1.05);
    transition: all .5s;
}

.pc-item-1{
    display: block;
    width: 500px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://loophole.studio/images/osi-model.jpg");
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
}

.mb-item-1{
    display: none;
    width: 500px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://loophole.studio/images/osi-model.jpg");
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
    #item-1{
        width: 100%;
    }
    .post-container {
        padding: 5%;
    }
    .pc-item-1{
        display: none;
    }
    .mb-item-1{
        display: block;
    }
}
