@import url("http://loophole.studio/style.css");

@font-face {
    font-family: 'roboto';
    src: url("http://loophole.studio/fonts/roboto/roboto-light-webfont.woff2") format("woff2"),
         url("http://loophole.studio/fonts/roboto/roboto-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

strong{
    color: orange;
}

a{
    color: #2B7EB7;
}

b{
    font-size: 20px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://loophole.studio/images/osi-model.jpg");
}

.TableOfContent_v2{
    vertical-align: top;
    display: inline-block;
    width: 25%;
    height: 3000px;
    background-color: #E7E7E7;
    /*Box Model*/
    margin: 0;
    border: 0;
    padding: 10px;
    font-family: 'roboto';
}

.TableOfContent_v2 p{
    text-align: center;
}

.WordArea{
    display: inline-block;
    width: 63%;
    height: 2000px;
    background-color: white;
    font-family: 'roboto';
    /*Box Model*/
    margin: 0;
    border: 0;
    padding: 5%;
}

.SignalBlock_word{
    vertical-align: top;
    display: inline-block;
    width: 70%;
}

.SignalBlock_pic{
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

/*sticky effect*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

/*pic*/
#digital_signal_pic{
    width: 200px;
    height: 200px;
}

#analog_signal_pic{
    width: 200px;
    height: 200px;
}

/*media*/
@media screen and (max-width: 450px) {
    .TableOfContent_v2{
        display: block;
        width: 90%;
        height: 550px;
        /*Box Model*/
        border: 0;
        margin: 5%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px
    }
    .WordArea{
        display: block;
        width: 85%;
    }
    
}
