@import url("http://loophole.studio/network/osimodel_v2.css");

.homework{
    background-color: #62b2de;
    padding: 10px;
    color: white;
}

.question{
    font-family: 'exo';
    font-size: 20px;
}

.intro_box{
    display: inline-block;
    width: 85%;
/*    height: 120px;*/
}

.intro_pic{
    display: inline-block;
    width: 10%;
    height: 120px;
}

.piccontainer{
    display: flex;
    justify-content: center;
}

#sandwich{
    height: 100%;
    width: auto;
}

#oui{
    height: 100px;
    width: auto;
}

#domain{
    height: 300px;
    width: auto;
}