@import url("http://loophole.studio/network/osimodel_v2.css");

.homework{
    background-color: #62b2de;
    padding: 10px;
    color: white;
}

.question{
    font-family: 'exo';
    font-size: 20px;
}

.intro_box{
    display: inline-block;
    width: 80%;
}

.intro_pic{
    display: inline-block;
    width: 10%;
}