@import url("http://loophole.nctu.me/style.css");

@font-face {
    font-family: 'roboto';
    src: url("http://loophole.nctu.me/fonts/roboto/roboto-light-webfont.woff2") format("woff2"),
         url("http://loophole.nctu.me/fonts/roboto/roboto-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

#thinking {
    width: auto;
    height: 100%;
}

.pic-container {
    width: 100%;
    height: 300px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://loophole.nctu.me/image/osi-model.jpg");
}
.post {
    margin-left: 20px;
    font-family: 'roboto';
}

.post h1 {
    font-size: 25px;
    color: #9F92CA;
}

.post p {
    line-height: 30px;
}

.post a {
    font-size: 25px;
}
